src/main/mule/mulefirst.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="6eeba30c-94d0-49ee-a4d7-9702bd4c4e34" >
		<http:listener-connection host="0.0.0.0" port="8083" />
	</http:listener-config>
	<flow name="mulefirstFlow" doc:id="62f43b5a-1305-4b9c-b0db-8ed0bf776993" >
		<http:listener doc:name="Listener" doc:id="5d076db3-5bde-441a-806f-2af5a4d6d9fb" path="/mulefirst" config-ref="HTTP_Listener_config"/>
		<logger level="INFO" doc:name="Logger" doc:id="96d81e58-1450-4319-aa0d-55f82ad7b77d" message="sample message"/>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="840e326c-2b27-4980-8f4f-29f9f007ecba" />
	</flow>
</mule>
